<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lily.androidkfysts"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:name=".contentprovider.BookProvider"
                  android:authorities="com.lily.androidkfysts.book.provider"
                  android:permission="com.lily.androidkfysts.PROVIDER"
                  android:process=":provider"

        />
        <!--<activity android:name=".service.start.StartServiceActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".service.bind.BindServiceActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".ipc.ADILActivty">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".service.messenger.MessengerActvity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name=".contentprovider.ProviderActivity">
        <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        <activity android:name=".service.bind.OtherActivity"/>
        <service android:name=".service.start.StartServiceDemo"/>
        <service android:name=".service.start.IntentServiceDemo"/>
        <service android:name=".service.bind.BindService"/>
        <!--<service android:name=".ipc.ADILService"/>-->

        <service android:name=".ipc.ADILService"
                 android:process=":aidl">
        </service>
        <!--<service android:name=".service.messenger.MessengerService"-->
        android:process=":messenger"/>

    </application>

</manifest>